@keyframes tooltip {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.dd-tooltip {
	position: relative;
	display: inline-flex;
	anchor-name: --delete-btn;
}

.tooltip_box {
	position: fixed;
	position-anchor: --delete-btn;
	background: var(--dd-tooltip-background-color);
	color: var(--dd-tooltip-color);
	font-size: 12px;
	padding: 8px 12px;
	line-height: 20px;
	border-radius: 5px;
	display: none;
	animation: tooltip 0.5s;

	&:before {
		content: '';
		display: inline-block;
		border: 5px solid transparent;
		position: absolute;
	}

	&.top-left {
		bottom: anchor(top);
		left: anchor(left);
		transform: translateY(-8px);

		&:before {
			left: 15px;
			bottom: -8px;
			border-top-color: var(--dd-tooltip-background-color);
		}
	}

	&.top {
		bottom: anchor(top);
		justify-self: anchor-center;
		transform: translateY(-8px);

		&:before {
			left: 50%;
			bottom: -8px;
			margin-left: -5px;
			border-top-color: var(--dd-tooltip-background-color);
		}
	}

	&.top-right {
		bottom: anchor(top);
		right: anchor(right);
		transform: translateY(-8px);

		&:before {
			right: 15px;
			bottom: -8px;
			border-top-color: var(--dd-tooltip-background-color);
		}
	}

	&.left {
		right: anchor(left);
		align-self: anchor-center;
		transform: translateX(-8px);

		&:before {
			right: -8px;
			top: 50%;
			border-left-color: var(--dd-tooltip-background-color);
			margin-top: -5px;
		}
	}

	&.right {
		left: anchor(right);
		align-self: anchor-center;
		transform: translateX(8px);

		&:before {
			left: -8px;
			top: 50%;
			border-right-color: var(--dd-tooltip-background-color);
			margin-top: -5px;
		}
	}

	&.bottom-left {
		top: anchor(bottom);
		left: anchor(left);
		transform: translateY(8px);

		&:before {
			left: 15px;
			top: -8px;
			border-bottom-color: var(--dd-tooltip-background-color);
		}
	}

	&.bottom {
		top: anchor(bottom);
		justify-self: anchor-center;
		transform: translateY(8px);

		&:before {
			left: 50%;
			top: -8px;
			border-bottom-color: var(--dd-tooltip-background-color);
			margin-left: -5px;
		}
	}

	&.bottom-right {
		top: anchor(bottom);
		right: anchor(right);
		transform: translateY(8px);

		&:before {
			right: 15px;
			top: -8px;
			border-bottom-color: var(--dd-tooltip-background-color);
		}
	}
}

.dd-tooltip:hover {
	.tooltip_box {
		opacity: 1;
		display: block;
	}
}
