.dd-time-picker {
	margin: 0;
	padding: 4px 11px 4px;
	color: var(--dd-time-picker-color);
	font-size: var(--dd-size);
	line-height: 1;
	list-style: none;
	position: relative;
	display: inline-flex;
	align-items: center;
	border: 1px solid var(--dd-border-color);
	border-radius: 6px;
	transition: border 0.2s, box-shadow 0.2s;
	&:hover {
		border-color: var(--dd-border-hover-color);
		border-inline-end-width: 1px;
	}
	&:focus-within:not(.dd-picker-disabled) {
		border-color: var(--dd-primary);
		box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
		outline: 0;
	}
	&[disabled] {
		background: var(--dd-time-picker-disabled-background-color);
		border-color: var(--dd-border-color);
		cursor: not-allowed;
	}

	&.dd-picker-focused:not(.dd-picker-disabled) {
		border-color: var(--dd-primary);
		box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
		outline: 0;
		.dd-picker-active-bar {
			opacity: 1;
		}
	}

	&.dd-picker-disabled {
		background: var(--dd-time-picker-disabled-background-color);
		border-color: var(--dd-border-color);
		user-select: none;
		cursor: not-allowed;
		input {
			color: var(--dd-time-picker-disabled-color);
			background: transparent;
			border-color: var(--dd-border-color);
			box-shadow: none;
			cursor: not-allowed;
			opacity: 1;
		}
	}
	&.dd-picker-borderless {
		background-color: transparent;
		border-color: transparent !important;
		box-shadow: none !important;
	}
	.dd-picker-active-bar {
		position: absolute;
		bottom: -1px;
		height: 2px;
		margin-left: 11px;
		background: var(--dd-primary);
		opacity: 0;
		transition: all 0.3s ease-out;
		pointer-events: none;
	}
}
.dd-time-range-picker {
	.dd-picker-range-separator {
		padding: 0 8px;
		line-height: 1;
		.dd-picker-separator {
			position: relative;
			display: inline-block;
			width: 1em;
			height: 16px;
			color: var(--dd-time-picker-icon-color);
			font-size: 16px;
			cursor: default;
		}
	}
	&:not(disabled) {
		&:hover {
			.dd-picker-clear {
				opacity: 1;
			}
		}
	}
}
:deep(.arrowRight) {
	left: 128px;
}
.dd-picker-panel {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	border-radius: 8px;
	outline: none;
	.dd-picker-time-panel {
		display: flex;
		flex: auto;
		flex-direction: column;
		width: auto;
		padding-top: 4px;
		.dd-picker-content {
			display: flex;
			flex: auto;
			height: 224px;
			text-align: center;
		}
	}
	.dd-picker-footer {
		border-top: 1px solid var(--dd-time-picker-border-color);
		.dd-picker-footer-extra {
			text-align: start;
			&:not(:last-child) {
				border-bottom: 1px solid var(--dd-time-picker-border-color);
			}
		}
		.dd-picker-ranges {
			margin-bottom: 0;
			padding: 4px 12px;
			overflow: hidden;
			line-height: 34px;
			text-align: start;
			list-style: none;
			display: flex;
			justify-content: space-between;
			.dd-picker-now {
				display: inline-block;
				text-align: start;
				.dd-picker-now-btn {
					color: var(--dd-primary);
					text-decoration: none;
					background-color: transparent;
					outline: none;
					cursor: pointer;
					transition: color 0.3s;
					-webkit-text-decoration-skip: objects;
					&:hover {
						color: var(--dd-time-picker-button-hover-color);
					}
					&.dd-picker-now-btn-disabled {
						color: var(--dd-time-picker-disabled-color);
						cursor: not-allowed;
					}
				}
			}
			.dd-picker-ok {
				margin-inline-start: auto;
			}
		}
	}
}

.large {
	padding: 6.5px 11px 6.5px;
}
.small {
	padding: 0px 7px 0px;
}
