:root {
	--dd-primary: #1677ff;
	--dd-success: #51bc1e;
	--dd-info: #74737d;
	--dd-warning: #d08c20;
	--dd-danger: #e95a5a;
	--dd-white: #ffffff;
	--dd-black: #000000;
	--dd-color-1: rgba(0, 0, 0, 0.88);
	--dd-background-color-1: rgba(0, 0, 0, 0.88);
	--dd-border-color: #d9d9d9;
	--dd-border-hover-color: #4096ff;
	--dd-disabled-background-color: #f5f7fa;
	--dd-disabled-background-color-2: rgba(0, 0, 0, 0.04);
	--dd-disabled-background-color-3: rgba(0, 0, 0, 0.15);
	--dd-disabled-color: rgba(0, 0, 0, 0.25);
	--dd-placeholder-color: rgba(0, 0, 0, 0.25);
	--dd-icon-color: rgba(0, 0, 0, 0.25);
	--dd-icon-color-active: rgba(0, 0, 0, 0.45);
}

:root {
	--dd-large: 16px;
	--dd-size: 14px;
	--dd-small: 12px;
}
:root {
	--dd-radius-large: 8px;
	--dd-radius-size: 6px;
	--dd-radius-small: 4px;
}

/* popover */
:root {
	--arrow-x: 16px;
	--arrow-y: -6px;
	--dd-arrow-background-color: var(--dd-white);
	--dd-inner-background-color: var(--dd-white);
	--dd-popover-color: var(--dd-background-color-1);
	--dd-arrow-shadow-color: rgba(0, 0, 0, 0.05);
	--dd-arrow-inner-color-1: rgba(0, 0, 0, 0.05);
	--dd-arrow-inner-color-2: rgba(0, 0, 0, 0.08);
	--dd-arrow-inner-color-3: rgba(0, 0, 0, 0.12);
}
/* tooltip */
:root {
	--dd-tooltip-color: var(--dd-white);
	--dd-tooltip-background-color: var(--dd-background-color-1);
}
/* input */
:root {
	--dd-input-background-color: var(--dd-white);
	--dd-input-disabled-background-color: var(--dd-disabled-background-color);
	--dd-input-disabled-color: var(--dd-disabled-color);
	--dd-input-icon-color: var(--dd-icon-color);
	--dd-input-icon-color-active: var(--dd-icon-color-active);
}
/* empty */
:root {
	--dd-empty-fill-color: #d9d9d9;
	--dd-empty-color: rgba(0, 0, 0, 0.25);
}
/* select */
:root {
	--dd-select-color: var(--dd-color-1);
	--dd-select-close-color: rgba(0, 0, 0, 0.45);
	--dd-select-close-hover-color: var(--dd-color-1);
	--dd-select-active-color: var(--dd-primary);
	--dd-select-active-background-color: #e6f4ff;
	--dd-select-icon-color: var(--dd-icon-color);
	--dd-select-background-color: var(--dd-white);
	--dd-select-hover-background-color: rgba(0, 0, 0, 0.04);
	--dd-select-selection-item-background-color: rgba(0, 0, 0, 0.06);
	--dd-select-selection-item-border-color: transparent;
	--dd-select-disabled-background-color: transparent;
}
/* loading */
:root {
	--dd-loading-color: var(--dd-color-1);
	--dd-loading-shadow-color: var(--dd-white);
}
/* switch */
:root {
	--dd-switch-active-background-color: var(--dd-primary);
	--dd-switch-hover-background: var(--dd-border-hover-color);
	--dd-switch-hover-background-2: rgba(0, 0, 0, 0.25);
	--dd-switch-background-color: rgba(0, 0, 0, 0.25);
}
/* input-number */
:root {
	--dd-input-number-background-color: var(--dd-white);
	--dd-input-number-disabled-color: var(--dd-disabled-color);
	--dd-input-number-disabled-background-color: var(--dd-disabled-background-color-2);
	--dd-input-number-border-color: var(--dd-border-color);
	--dd-input-number-icon-color: rgba(0, 0, 0, 0.45);
}
/* radio */
:root {
	--dd-radio-color: var(--dd-color-1);
	--dd-radio-disabled-color: var(--dd-disabled-color);
	--dd-radio-disabled-background-color: var(--dd-disabled-background-color-2);
	--dd-radio-border-color: var(--dd-border-color);
	--dd-radio-active-color: var(--dd-primary);
	--dd-radio-active-border-color: var(--dd-primary);
	--dd-radio-active-background-color: var(--dd-primary);
	--dd-radio-border-inner-background-color: var(--dd-white);
}
/* radio-button */
:root {
	--dd-radio-button-color: var(--dd-color-1);
	--dd-radio-button-active-color: var(--dd-primary);
	--dd-radio-button-disabled-active-color: var(--dd-disabled-color);
	--dd-radio-button-disabled-active-background-color: var(--dd-disabled-background-color-3);
	--dd-radio-button-disabled-background-color: var(--dd-disabled-background-color-2);
	--dd-radio-button-border-color: var(--dd-border-color);
	--dd-radio-button-hover-background-color: var(--dd-border-hover-color);
	--dd-radio-button-active-border-color: var(--dd-primary);
	--dd-radio-button-active-background-color: var(--dd-primary);
	--dd-radio-button-border-inner-background-color: var(--dd-white);
	--dd--radio-button-background-color: var(--dd-white);
	--dd--radio-button-checked-background-color: var(--dd-white);
}
