:root {
	--dd-input-background-color: var(--vp-c-bg);
	--dd-input-number-background-color: var(--vp-c-bg);
	--dd-color-1: var(--vp-c-text-1);
	--dd-placeholder-color: var(--vp-c-text-1);
	--dd-select-background-color: var(--vp-c-bg);
	--dd-placeholder-color: rgba(0, 0, 0, 0.25);
	--dd-gray-color: rgba(255, 255, 255, 0.25);
}

.dark {
	--dd-disabled-background-color: #262727;
	--dd-active-background-color: #111a2c;
	--dd-arrow-background-color: #1f1f1f;
	--dd-icon-color-active: rgba(255, 255, 255, 0.45);
}
/* empty */
.dark {
	--dd-empty-color: var(--dd-gray-color);
	--dd-icon-color: var(--dd-gray-color);
}
/* select */
.dark {
	--dd-select-active-background-color: var(--dd-active-background-color);
	--dd-select-hover-background-color: rgba(255, 255, 255, 0.08);
	--dd-loading-shadow-color: #000000;
	--dd-inner-background-color: #1f1f1f;
	--dd-disabled-color: var(--dd-gray-color);
	--dd-placeholder-color: var(--dd-gray-color);
	--dd-select-selection-item-background-color: rgba(255, 255, 255, 0.12);
	--dd-select-selection-item-border-color: rgba(253, 253, 253, 0.12);
	--dd-select-close-color: rgba(255, 255, 255, 0.45);
	--dd-select-close-hover-color: rgba(255, 255, 255, 0.85);
	--dd-select-disabled-background-color: rgba(255, 255, 255, 0.08);
}
/* input */
.dark {
	--dd-input-disabled-background-color: rgba(255, 255, 255, 0.08);
}
/* switch */
.dark {
	--dd-switch-background-color: rgba(255, 255, 255, 0.25);
	--dd-switch-hover-background-2: rgba(255, 255, 255, 0.45);
}
/* input-number */
.dark {
	--dd-input-number-border-color: #424242;
	--dd-input-number-icon-color: rgba(255, 255, 255, 0.45);
	--dd-input-number-disabled-background-color: rgba(255, 255, 255, 0.08);
}
/* radio */
.dark {
	--dd-radio-border-color: #424242;
	--dd-radio-button-border-color: #424242;
	--dd-radio-border-inner-background-color: #141414;
	--dd-radio-button-border-inner-background-color: #141414;
	--dd--radio-button-background-color: #141414;
	--dd--radio-button-checked-background-color: #141414;
	--dd-radio-button-disabled-background-color: rgba(255, 255, 255, 0.08);
	--dd-radio-button-disabled-active-background-color: rgba(255, 255, 255, 0.18);
}
/* time-picker */
.dark {
	--dd-time-picker-active-background-color: var(--dd-active-background-color);
	--dd-time-picker-hover-background-color: rgba(255, 255, 255, 0.08);
	--dd-time-picker-border-color: rgba(253, 253, 253, 0.12);
	--dd-time-picker-clear-background-color: #141414;
	--dd-time-picker-disabled-background-color: rgba(255, 255, 255, 0.08);
}
/* date-picker */
.dark {
	--dd-date-picker-hover-background-color: rgba(255, 255, 255, 0.08);
	--dd-cell-color: rgba(255, 255, 255, 0.25);
	--dd-date-picker-border-color: rgba(253, 253, 253, 0.12);
	--dd-date-picker-clear-background-color: #141414;
	--dd-date-picker-control-button-color: rgba(255, 255, 255, 0.45);
}
